* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    background: #eee
}

section {
    width: 25vw;
    display: flex;
    flex-direction: column;
}

section:nth-of-type(even) {
    background: #DDD;
}

section>h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 2rem;
    margin-bottom: 3rem;
}

#addForm {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 0.25rem
}

#addForm>label {
    font-size: 1.5rem;
}

#addForm>label>input:not(.radio) {
    width: 20rem;

}

.albumArt {
    width: 22vw;
    background: #DDD;
    padding: 1rem 1.5vw;
}

.albumArt:nth-of-type(odd) {
    background: #EEE;
}

.albumRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.cover {
    width: 5rem;
    height: 5rem;
}

.coverImg {
    width: 100%;
    height: 100%;
}